/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

#curtain {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: linear-gradient(to right, rgb(40, 60, 134), rgb(69, 162, 71));
}


/*---------------------------------------------*/

a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #a64bf4;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    text-align: center;
    padding: 5px 0;
}

h2:hover,
h3:hover {
    background: -webkit-linear-gradient( right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    animation: rotateText 0.4s;
    /* transform: rotateX(360deg); */
    letter-spacing: 0.5px;
    text-decoration: underline;
}

@keyframes rotateText {
    0% {
        letter-spacing: 0px;
    }
    25% {
        letter-spacing: 0.1px;
    }
    50% {
        letter-spacing: 0.2px;
    }
    75% {
        letter-spacing: 0.3px;
    }
    100% {
        letter-spacing: 0.4px;
    }
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 65px 55px 54px;
    position: relative;
}

.wrap-content,
.item {
    display: flex;
    flex-direction: column;
}

.item {
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(8, 112, 184, 0.7);
    border-radius: 10px;
    animation: rotateItem 0.9s;
    opacity: 1;
}

@keyframes rotateItem {
    0% {
        transform: rotateX(180deg);
        opacity: 0;
    }
    20% {
        transform: rotateX(160deg);
        opacity: 0;
    }
    40% {
        transform: rotateX(120deg);
        opacity: 0;
    }
    60% {
        transform: rotateX(80deg);
        opacity: 0.4;
    }
    80% {
        transform: rotateX(60deg);
        opacity: 0.8;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.title {
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 27px;
}

.title::after {
    content: ":";
}

.content {
    padding-left: 30px;
    font-size: 22px;
    word-wrap: break-word;
}

.wrap-avatar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.avatar {
    /*background-image: url("{{profile_pic}}");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

.mt-2 {
    margin-top: 2rem;
}


/*---------------------------------------------*/

a {
    outline: none !important;
    border: none;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: #fff;
    cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    animation: move 0.5s;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: -webkit-linear-gradient( right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

@keyframes move {
    0% {
        width: 0%;
    }
    10% {
        width: 0%;
    }
    20% {
        width: 0%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}